.member-list {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(4);
  }
}
.member-locations {
  display: block;
  float: left;
  width: 100%;
  .map_container {
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    color: $black;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    margin: 0 auto;
    width: 600px;
    @include media($tablet) {
      width: 900px;
    }

    .gmaps4rails_map {
      width: 100%;
      height: 400px;
    }
  }
}
